<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dashboard</title>

    <!-- flowbite css -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>

    <!-- font awasome -->
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <!-- custom css -->
    <link data-th-href="@{'/output.css'}" rel="stylesheet">

    <link data-th-href="@{'/custom.css'}" rel="stylesheet">

</head>

<body class="bg-white dark:bg-gray-900 text-black dark:text-white">

<!-- user navbar only after login -->
<div th:if="${user}">
    <div data-th-replace="~{user/user_navbar :: user-navbar}">

    </div>
</div>


<!-- user sidebar only if user is logged in  -->
<div th:if="${user}">
    <div data-th-replace="~{user/sidebar :: sidebar}">

    </div>
</div>

<!-- normal navbar for guest who are not logged in  -->
<div th:unless="${user}">
    <div data-th-replace="~{navbar :: navbar}">

    </div>
</div>


<!-- content start -->
<div class="sm:pl-66 pt-20" id="content">

    <div class="flex flex-col items-center justify-center">


        <h1 class="text-5xl">
            this is dashboard page
        </h1>


        <a href="#" onclick="logout()">Logout</a>

        <form data-th-action="@{/logout}" id="logout-form" method="post" th:hidden="true">
            <input hidden type="submit" value="log out"/>
        </form>


        <a data-th-href="@{'/user/profile'}">profile page</a>


        <h1 data-th-text="${user.userName}">

        </h1>

        <h1 data-th-text="${user.email}">

        </h1>

    </div>


</div>
<!-- content end -->


<!-- js for logout  -->
<script>
    function logout() {
        document.getElementById("logout-form").submit();
    }
</script>


<!-- custom script for theme switcher -->
<script data-th-src="@{'/js/script.js'}">

</script>


<!-- flowbit js  -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>

</html>