<!DOCTYPE html>
<html class="dark" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>About </title>

    <!-- flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>


    <!-- font awasome -->

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <link data-th-href="@{'/output.css'}" rel="stylesheet">

    <link data-th-href="@{'/custom.css'}" rel="stylesheet">
</head>

<body class="bg-white dark:bg-gray-900">

<!-- logout form hidden -->
<form data-th-action="@{/logout}" id="logout-form" method="post" th:hidden="true">
    <input hidden type="submit" value="log out"/>
</form>


<!-- user navbar only after login -->
<div th:if="${user}">
    <div data-th-replace="~{user/user_navbar :: user-navbar}">

    </div>
</div>

<!-- normal navbar for guest who are not logged in  -->
<div th:unless="${user}">
    <div data-th-replace="~{navbar :: navbar}">

    </div>
</div>


<h1>
    this is about page
</h1>

<!-- flowbite script -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>


<!-- custom script -->
<script data-th-src="@{'/js/script.js'}">

</script>


<script>
    function logout() {
        document.getElementById("logout-form").submit();
    }
</script>

</body>

</html>