<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        this is dashboard page
    </h1>


    <a href="#"  onclick="logout()">Logout</a>

    <form id="logout-form" data-th-action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="log out" />
    </form>


    <script>
        function logout() {
            document.getElementById("logout-form").submit();
        }
    </script>

</body>

</html>