<div th:fragment="parent(x,y)">
    <h1>
        this is base fragment
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, similique, quia qui alias perferendis ex
        nostrum ipsum impedit, voluptatibus quas nesciunt. Itaque laboriosam exercitationem aspernatur nesciunt
        blanditiis. Sit, impedit laboriosam.
    </p>

    <h1>
        value of x is
        <span th:text="${x}"></span>
    </h1>


    <h1>
        value of x is
        <span th:text="${y}"></span>
    </h1>
</div>