<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="parent(content)">
        <h1>
            this is base fragment
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, similique, quia qui alias perferendis ex
            nostrum ipsum impedit, voluptatibus quas nesciunt. Itaque laboriosam exercitationem aspernatur nesciunt
            blanditiis. Sit, impedit laboriosam.
        </p>
    
       
    
    
      
    </div>
</body>
</html>