<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>
        test base2
    </h1>


    <div class="host-tag" th:replace="~{base2 :: parent(~{::p})}">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At neque ipsam, harum dolore voluptate eos. Atque
            fugiat pariatur sunt, veritatis earum dolorem, minus aliquid maxime et vero ipsa, reprehenderit quod.
        </p>
    </div>

</body>

</html>